<!DOCTYPE html>
<html lang="en">

<header>
    <h1>Tweetful</h1>
    <p>Making The Internet a Little More Thoughtful!!</p>
</header>

<section>
    <header>
        <h2>About Tweetful</h2>
    </header>
    <p>
        Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
    </p>
</section>

<section>
    <header>
        <h2>What makes us different</h2>
    </header>
    <p>
        Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
    </p>
</section>

<section>
    <header>
        <h2>Company History</h2>
    </header>
    <p>
        Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
    </p>
</section>

<footer>
</footer>





</body>
</html>