<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<div class="container">
    <div class="row" style="padding-bottom: 50px">
        <div class="span12 text-center">
           <header>
              <p style="font-size: 50px; padding-top: 30px"><strong>Tweetful</strong></p>
              <p><h2>Making The Internet a Little More Thoughtful!!</h2></p>
           </header>
   </div>
</div>
    <div class="row">
        <div class="col-md-4">
            <section>
               <header style="text-align: center">
                 <h2>Pete Lonestar</h2>
                 <h2 style="margin-top: 5px">Founder</h2>
               </header>
    <p style="padding: 10px 40px 0px 40px">
        Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
    </p>
</section>
</div>
        <div class="col-md-4">
<section>
    <header style="text-align: center">
        <h2>Bill Billerson</h2>
        <h2 style="margin-top: 5px">CFO</h2>
    </header>
    <p style="padding: 10px 30px 0px 30px">
        Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
    </p>
</section>
        </div>
        <div class="col-md-4">
<section>
    <header style="text-align: center">
        <h2>Simon Franklin</h2>
        <h2 style="margin-top: 5px">CTO</h2>
    </header>
    <p style="padding: 10px 40px 0px 40px">
        Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
    </p>
</section>
</div>
</div>
    </div>
<footer>
</footer>





</body>
</html>